{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block garbagebin %} {% endblock %}
{% block pagebtn %}  {% endblock %}

{% block avatar %} 
    {% if app.user %}
   {# {% block logeduserfoto %} {{ asset('userPhotos/' ~ app.user.photo )}} {% endblock %} #}
    {#  {% block nickname %} {{ app.user.username }}  {% endblock %} #}
    {% endif %}
{% endblock %}


{% block content %}
<div id="userchargebox">
<form action="{{ path('app_login') }}" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Email"/>
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control"  id="password" name="_password" placeholder="Password"/>
        <label for="password">Parole</label>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
<div id='blankava'>
</div>
<div id='inlinebox'>
    <a href="{{ path('app_register')}}" > Register  </a>
</div>

</div>




{% endblock %}
