{% extends 'base.html.twig' %}




{% block title %}Homepage{% endblock %}

{% block logeduserfoto %} {{ asset('userPhotos/' ~ logeduserphoto )}} {% endblock %}
{% block nickname %} {{ logedusername }} {# Ник залогиненого #} {% endblock %}
 


{% block content %}

{# 
{% for # айди фильма # in # массив # %}             
<div id="padding" >
    <div id="filmOutbox">
        <div id="filmInbox">
            <img id="filmsaf" src="{{ asset('img/filmsaf/filmid.png') }}" alt="" >
        </div>
            # название фильна #
    </div>
</div>
 {% endfor %}  

#}

{% for Filmsname in Filmsnames %}
<div id="padding" >
<a href="{{ path('app_filmpage',{'id' : FilmsIDs[loop.index] }) }}">
    <div id="filmOutbox">
        <div id="filmInbox">
{% set waytofoto = 'filmPhotos/' ~ Filmsfotos[loop.index] %}
            <img id="filmsaf" src="{{ asset(waytofoto) }}" alt="" >
        </div>
        <div id="filmInboxdown">
             {{ loop.index }}) {{ Filmsname }}
            <p > </p> 
            <p >  </p> 
        </div>
    </div>
</a>
</div>
{% if loop.index == loop.last %}
    {% set nnum = loop.index %}
    {#
    <p>XYZ</p>
    <p>XYZ</p>
    <p> {{ nnum }} </p>
    <p>XYZ</p>
    <p>XYZ</p>
    #}
{% endif %}

{% endfor %}



{% if nnum < 8 %}
<div id="padding" >
<a href="{{ path('film_new') }}">
    <div id="filmOutbox">
        <div id="filmInbox">
            <img id="filmpluss" src="{{ asset('img/plussfilm.png') }}" alt="" >
        </div>
        <div id="filmInboxdown">

            <p >  ADD NEW FILM</p> 
            <p >  </p> 
            <p >  </p> 
        </div>
    </div>
</a>
</div>

{% endif %}
{% endblock %}

            {% block pagebtn %}
                <div id="pagebtn">
                {% if pagenum > 1 %}
                    {% set oldpagenum = pagenum -1 %}
                    <div id="oldpage">                    
                        <a href="{{ path('app_welcome',{ 'page' : oldpagenum, 'n' : 8} ) }}">
                        <p > << </p>
                        </a>
                    </div>
                {% endif %}
                    <div id="pagecount">    
                            {{ pagenum }}                           
                    </div>
                {% if nnum > 7 %}
                    {% set newpagenum = pagenum + 1 %}
                    <div id="newpage">
                         <a href="{{ path('app_welcome',{'page' : newpagenum,'n' : 8} ) }}">
                        <p> >> </p>
                        </a>
                    </div>
                {% endif %}
                </div>
            {% endblock %}
