{% extends 'base.html.twig' %}



{% block title %} {{ Filmsname }} {% endblock %}

{% block logeduserfoto %} {{ asset('userPhotos/' ~ logeduserphoto )}} {% endblock %}
{% block nickname %} {{ logedusername }}  {% endblock %}
 {% block pagebtn %} {% endblock %}
{% block content %} 


                                                                                                    <div id='noend'>


<div id="padding" id="inlinetext">
    <div id="filmOutbox">
        <div id="filmInbox">
        <img id="filmsaf" src="{{ asset('filmPhotos/' ~ Filmsfoto ) }}" alt="" >
        </div>
            <p >{{ Filmsname }} </p>
            <p></p>
            <p></p>
    </div>
</div>
<div id="inlinetext">
            <p> Director(s): {{ FilmDirector }} </p>
            <p> Actors: {{ FilmActors }} </p>
</div>
<div id="minboxmin" ></div>
<a href={{path("app_review_new",{'filmId' : FilmId})}}>
    <button class="btn btn-lg btn-primary" id="btnreview" type="submit">
        Create new review
    </button>
</a>

{% for reviewcoment in reviewcoments %}
<hr>

<div id="padding" >
    <div id="coment">
        <div id="avaInbox">
            <div id="box">
 {#              <a href="{{ path('app_welcome') }}">  #} 
                    <img id="ava" src="{{ asset('userPhotos/'~ reviewfotos[loop.index]) }}" alt="" >
  {#               </a> #} 
                <div id="minibox">
                    <p id="minitext"> {{reviewusers[loop.index]}} </p>
                </div>
            </div>
            
            <a href="{{ path('app_review_change',{'filmId': FilmId, 'status': '1', 'reviewId': reviewIds[loop.index]}) }}">
                <div id="pluss">
                    <img id="vote" src="{{ asset('img/tick.png') }}" alt="" >
                        <p id="voteplus">
                          {{reviewpluss[loop.index]}} 
                        </p>
               </div>
            </a>
            
                
                <a href="{{ path('app_review_change',{'filmId': FilmId, 'status': '2', 'reviewId': reviewIds[loop.index]}) }}">
                    <div id="minus">
                        <img id="vote" src="{{ asset('img/kross.png') }}" alt="" >
                        <p id="voteminus">
                            {{reviewminus[loop.index]}}
                        </p>
                    </div>
                </a>
                
        </div>  
        <div id="usersscoment">
            <p>{{ reviewcoment }}</p>
        </div>
        
    </div>
</div>

{% endfor %}

</div>
{% endblock %}
