{% extends 'base.html.twig' %}



{% block title %}filmpage{% endblock %}

{% block nickname %} 00NickName {% endblock %}

{% block content %} 





<div id="padding" >
    <div id="filmOutbox">
        <div id="filmInbox">
        <img id="filmsaf" src="{{ asset('img/filmsaf.png') }}" alt="" >
        </div>
        
            Name of the film taht i want to see next yera in june 
        
    </div>
</div>




<hr>

<div id="padding" >
    <div id="coment">
        <div id="avaInbox">
            <div id="box">
                <a href="{{ path('app_welcome') }}">
                    <img id="ava" src="{{ asset('img/ava.png') }}" alt="" >
                </a>
                <div id="minibox">
                    <p id="minitext"> 0NackNime0 </p>
                </div>
            </div>
            <div id="pluss">
                    <img id="vote" src="{{ asset('img/tick.png') }}" alt="" >
                        <p id="voteplus">
                          {% block votepluss %} 20 {% endblock %} 
                        </p>
            </div>
            <div id="minus">
                    <img id="vote" src="{{ asset('img/kross.png') }}" alt="" >
                    <p id="voteminus">
                        {% block voteminus %} 10 {% endblock %}  
                    </p>
            </div>
        </div>  
        <div id="usersscoment">
            <p>Name of the film taht i want to see next yera in june eskjedakjsdkjaskdjask jdksajd ksajdkjas djkals jkdjsakl jdsaj dlkajsdlk jaj ksajkld jaskjd klasjdk ajskld jaskdj kasjkd jaskdj kasjdk ajsk jskaljd kasjkd jaskjd kasjdk jaskdj aksjd ksajkdj kasjdk ajsdj askl</p>
        </div>
        
    </div>
</div>




{% endblock %}
