{% extends 'base.html.twig' %}




{% block title %}New film{% endblock %}

{% block pagebtn %}  {% endblock %}

{% block logeduserfoto %} {{ asset('userPhotos/' ~ logeduserphoto )}} {% endblock %}
{% block nickname %} {{ logedusername }} {# Ник залогиненого #} {% endblock %}
 
{% block content %}

    <div id="filmchargebox">
        <h1> New Film</h1>
{#     in FilmConoller name is form... i changed it to filmForm  #}
    {{ form_start(filmForm) }}

        {{ form_row(filmForm.photoFile) }}
         
        {{ form_row(filmForm.name) }}
        {{ form_row(filmForm.director) }}
        {{ form_row(filmForm.actors) }}
        {{ form_row(filmForm.keywords) }}
        

        <button type="submit" class="btn">Create</button>
    {{ form_end(filmForm) }}
   
    </div>
{% endblock %}