<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {% block title %} {% endblock %} </title>
        {#  <meta name="description" content="{% block description %} {% endblock %}"> 
        mes varam uzrakstit description lai Google searcha ertak atrast musu timekla lapu #}

         <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}"  >   {# attella lapas augspuse #}

        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}"> 
            <link rel="stylesheet" href="{{ asset('css/topnav.css') }}">  
            <link rel="stylesheet" href="{{ asset('css/films.css') }}">
        {% endblock %}


    </head>
    
    <body >

    <!--[if lte IE 9]>
    <p class="browserupgrade"> You are using an <strong> outdated </strong> browser. Please change it.
    <![endif]-->
    
    <header>
        
            {% block header_top %}
                <nav id="top-meu">
                    {% block avatar %}
                        <div id="box">
                        <a href="{{ path('app_welcome') }}">
                            <img id="ava" src="{{ asset('img/ava.png') }}" alt="" >
                        </a>
                            <div id="minibox">
                                <p id="minitext">{% block nickname %} {% endblock %}</p>
                            </div>
                        </div>
                    {% endblock %}
                        <a href="{{ path('app_welcome') }}">
                            <img id="logo" src="{{ asset('img/logo.png') }}" alt="" >
                        </a>
                        <a href="{{ path('app_filmpage') }}">
                            <img id="searchlogo" src="{{ asset('img/search.png') }}" alt="" >
                        </a>
                <nav id="top-meu">
                <p>  </p>
                </nav>

            {% endblock %}
            
                <div id="TcontentT">
                
                <div id="fimlsbox">
                {% block content %} {% endblock %}
                </div>
                
                </div>
            
        
    </body>
</html>
