<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {% block title %} {% endblock %} </title>
        {#  <meta name="description" content="{% block description %} {% endblock %}"> 
        mes varam uzrakstit description lai Google searcha ertak atrast musu timekla lapu #}

         <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}"  >   {# attella lapas augspuse #}

        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/reset.css') }}"> 
            <link rel="stylesheet" href="{{ asset('css/basetopnav.css') }}">  
            <link rel="stylesheet" href="{{ asset('css/films.css') }}">

        {% endblock %}


    </head>
    
    <body >

    <!--[if lte IE 9]>
    <p class="browserupgrade"> You are using an <strong> outdated </strong> browser. Please change it.
    <![endif]-->

        
            {% block header_top %}
                <nav id="top-menu">
                    {% block avatar %}
                        <a href="{{ path('user_new') }}">
                        <div id="box">

                            <img id="ava" src={% block logeduserfoto %}  {% endblock %}  alt="" >

                            <div id="minibox">
                                <p id="minitext"> {% block nickname %} {% endblock %} </p>
                            </div>
                        </div>
                        </a>
                    {% endblock %}

                        

                        <a href="{{ path('app_welcome') }}">
                            <img id="logo" src="{{ asset('img/logo.png') }}" alt="" >
                        </a>

                        <form action="{{ path('app_film_search') }}"  method="get">
                            <button id='searchlogobtn' type="submit">
                                <img id="searchlogo" src="{{ asset('img/search.png') }}" alt="" >
                            </button >
                            <input id="searchinput" type="text" name="keywords" placeholder="Search.." >
                        </form>
                </nav>

            {% endblock %}
            <div id="TcontentT">
                
                <div id="fimlsbox">
                    {% block content %} {% endblock %}
                </div>

            {% block pagebtn %}
                <div id="pagebtn">
                    <div id="oldpage" id="inviz">
                        <a id="inviz" href="{{ path('app_welcome') }}">
                        <p id="inviz"> << </p>
                        </a>
                    </div>
                    <div id="pagecount">
                             
                            {% block pagecount %} 1 {% endblock %}
                           
                    </div>
                    <div id="newpage">
                         <a href="{{ path('app_welcome') }}">
                        <p> >> </p>
                        </a>
                    </div>
                </div>
            {% endblock %}
            </div>
            
        
    </body>
</html>
